body {
    background-color: #4158d0;
    background-image: linear-gradient(
      30deg,
      #f7f57b 0%,
      #4bc5db 36%,
      #ee4949  100%
    );
    text-align: center;
    min-height: 100vh;
    font-family: "Varela Round", Nunito, Montserrat, sans-serif;
  } 
 
h1{ 
    background-color: aquamarine
    forestgreen;
    font-feature-settings: "aalt";
}
